<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426912440792-0gkc7tlldqppbtou2c08obbsgo4ktt61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426912440792-0gkc7tlldqppbtou2c08obbsgo4ktt61</string>
	<key>API_KEY</key>
	<string>AIzaSyC3AbytKnAwaB2jW90-bz6sH02gxet0PqM</string>
	<key>GCM_SENDER_ID</key>
	<string>426912440792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safetyApp</string>
	<key>PROJECT_ID</key>
	<string>xsafe-1aea8</string>
	<key>STORAGE_BUCKET</key>
	<string>xsafe-1aea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426912440792:ios:51d65a00288499ca2112ad</string>
</dict>
</plist>